<component name="ArtifactManager">
  <artifact type="war" name="SpringHibernateAnnotations:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springsecuritylogin.war">
      <element id="artifact" artifact-name="SpringHibernateAnnotations:war exploded" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="lib">
          <element id="library" level="project" name="postgresql-9.4-1201.jdbc4" />
        </element>
      </element>
    </root>
  </artifact>
</component>